apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: dc-metro-map-rayp
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/happy-path-with-depl-tenant/appstudio/dc-metro-map-rayp@sha256:e0e66d96700290232c471fc13c0839c8c0c01098af3d45e552ea75aa5531fb44
        name: my-nodejs
        resources: {}
status: {}
